div#sliding-popup {
	background: white;
	webkit-box-shadow: 0px -8px 14px -4px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px -8px 14px -4px rgba(0,0,0,0.13);
	box-shadow: 0px -8px 14px -4px rgba(0,0,0,0.13);
	
	p {
		color: #b3acd7;
	}
	h2 {
		margin: 0;
    margin-top: 5px;
    color: #6251b1;
	}
	.eu-cookie-compliance-more-button {
    color: #b3acd7;
    font-size: 12px;
	}
	.eu-cookie-compliance-secondary-button {
    background-color: #b3acd7;
    color: white;
    padding: 8px;
    font-size: 14px;
    border-radius: 3px;
    width: 100px;
    font-weight: bold;
	}
	.eu-cookie-compliance-default-button {
background: #bebebe;
    color: white;
    padding: 8px;
    font-size: 14px;
    border-radius: 3px;
    width: 100px;
    font-weight: bold;
    box-shadow: none;
    border: none;
    line-height: 1.5;
    text-shadow: none;
	}
}